<header>
    <img src="/assets/img/burger.png" alt="burger image">
    <h1>Eat-Da-Burger!</h1>
</header>


<ol>

    {{#each burgers}} {{#unless devoured}}
    <li> {{burger_name}}<button class="btn btn-secondary btn-sm eat-it" data-id="{{id}}">Eat it!</button></li> {{/unless}} {{/each}}
</ol>



<section class="container">
    <form>
        <div class="form-group">
            <textarea class="form-control" id="burgerText" cols="3" rows="3"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>
